EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_KEY=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=

# La IP es la de la computadora donde corre la API, no de tu celular
EXPO_PUBLIC_SOCKET_URL=http://[IP_ADDRESS]:3000